fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
httpx
python-multipart

sqlalchemy

pymupdf
python-docx
openpyxl

langchain
langchain-core
langchain-text-splitters
langsmith

pytest
pytest-asyncio
